$global-margin: 1em;
$global-padding: 1em;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

quote {
  font-style: italic;
}

z1 {
  z-index: 1;
}

z2 {
  z-index: 2;
}

z3 {
  z-index: 3;
}

.block {
  display: block;
}

.mt-1 {
  margin-top: 1.5em;
}

.full-width, .full-width img{
  width: 100%;
  max-width: 100%;
  z-index: -1;
}

.container {
  max-width: 46em;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1.5em;
}

.screen-reader {
  display: none;
}

header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.angle {
  width: 100%;
  height: 10vw;
  grid-row: 1;
  grid-column: 1;
}

.start {
  align-self: start;
  margin-top: -1px; /* hack to solve responsive sizing was ocassionally showing a single line of color below the text */
}

.end {
  align-self: end;
  margin-bottom: -1px; /* hack to solve responsive sizing was ocassionally showing a single line of color below the text */
}

.five-em {
  height: 5em; /* this matches the biggest the io can push the translate */
}

.margin-five {
  margin-top: 4.9em; // has the same hack as start
}

.gcr-1 {
  grid-column: 1;
  grid-row: 1;
}

.header-logo {
  padding: $global-padding;
  max-width: 50%;
}

main {
}

.io-push {
  animation-timing-function: ease; // needed to stop the page jumping on a part of the io pulling up and down
  // animation-name: slidein;
}

// this isnt working and needs to be used on the margins
/* @keyframes slidein {
  from {
  opacity: 0;
  margin-top: 0;
  }

  to {
  opacity: 100%;
  margin-top: 20em;
  }
} */

.io-parallax {
  animation-timing-function: ease;
}

#services {
  display: grid;
  grid-gap: 2em;
  // https://codepen.io/rachelandrew/pen/GZQYQa
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
}

#testimonials {
  display: grid;
  grid-gap: 2em;
  // https://codepen.io/rachelandrew/pen/GZQYQa
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
}

.service, .testimonial {
  display: grid; // needed for the background
  grid-auto-rows: min-content; // pulls everything close
}

.service h3, .service .icon, .service p,
.testimonial p, .testimonial quote {
  grid-column: 1;
  padding-left: 1em;
  padding-right: 1em;
  align-self: start;
}

.service .icon {
  align-self: center;
  justify-self: center;
  margin-top: 2em;
}

.service p {
  align-self: stretch;
  margin-bottom: 2em;
}

.service .icon,
.testimonial p {
  grid-row: 1;
}

.service h3,
.testimonial quote {
  grid-row: 2;
}

.service p {
  grid-row: 3;
}

.testimonial p {
  margin-top: 3em;
}

.testimonial quote {
  margin-bottom: 3em;
}

.skewer {
  background: rgb(67,198,172);
  background: linear-gradient(15deg, rgba(67,198,172,0.33) 0%, rgba(248,255,174,0.33) 100%);
  border-radius: 10px;
  transform: skewY(-7deg);
  grid-row: 1/4;
  grid-column: 1;
  align-self: stretch;
  justify-self: stretch;
}



.footer-text {
  align-self: center;
  justify-self: center;
  text-align: center;
}



// testing
.opac {
  opacity: 0.3;
}

